{% extends '../shared/base.html' %}
{% load static %}
{% block content %}
    <div class="pagina-inicial">
        {% include '../partials/_header.html' %}
        <main class="principal">
            {% include '../partials/_menu.html' %}
            <section class="conteudo">
                {% include '../partials/_banner.html' %}
                {% include '../partials/_tags.html' %}
                {% include '../partials/_galeria.html' %}
            </section>
        </main>
    </div>
    
{% endblock %}