{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
    <div class="pagina-inicial">
        {% include 'galeria/partials/_header.html' %}
        <main class="principal">
            {% include 'galeria/partials/_menu.html' %}
            <section class="conteudo">
                {% include 'galeria/partials/_banner.html' %}
                {% include 'galeria/partials/_tags.html' %}
                {% include 'galeria/partials/_galeria.html' %}
            </section>
        </main>
    </div>
    
{% endblock %}